<header class="text-gray-600 body-font w-full" th:fragment="header-template">
	<div class="container mx-auto flex flex-wrap items-center justify-between p-5">
		<a th:href="${#authorization.expression('isAuthenticated()') ? '/worktime/home' : '/login'}"
			class="flex items-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
				stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
				viewBox="0 0 24 24">
				<path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
			</svg>
			<span class="ml-3 text-2xl">Attendance Management</span>
		</a>
		<form th:action="@{/logout}" method="post"
			th:if="${#authorization.expression('isAuthenticated()')}">
			<button type="submit" class="flex items-center title-font font-medium text-gray-900 mb-4 md:mb-0">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
					stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
					viewBox="0 0 24 24">
					<path
						d="M16 17l5-5-5-5M21 12H9M13 5V3a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h5a2 2 0 0 0 2-2v-2" />
				</svg>
				<span class="ml-2">Logout</span>
			</button>
		</form>
	</div>
</header>