<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body onload="updateStampByMonth()">
	<header>

	</header>
	<main>
		<section class="text-gray-600 body-font">
			<div class="container px-5 py-24 mx-auto">
				<div class="flex flex-col text-center w-full mb-20">
					<div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto relative">
						<h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900 mx-auto">○○さん</h1>
						<button
							class="absolute right-0 top-0 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
							onclick="location.href='stamp'">打刻</button>
					</div>
					<p class="lg:w-2/3 mx-auto leading-relaxed text-base">毎日の打刻を忘れないでください</p>
				</div>
				<div class="lg:w-2/3 w-full mx-auto overflow-auto flex flex-row items-center mb-2">

					<label for="monthSelect">月を選択：</label>
					<select id="monthSelect" name="month" onchange="updateStampByMonth(); updateWorkTimeByMonth()">
						<option th:each="calculator : ${calculators}" th:value="${calculator.month}"
							th:text="${calculator.month} + '月'" th:selected="${calculator.month == selectedMonth}">
						</option>
					</select>
					<span class="ml-4" id="workTimeMonth" 
					    th:text="'総勤務時間: ' + (${#lists.isEmpty(calculators) ? '00:00:00' : calculators[0].workTimeMonth})"></span>

					<span class="ml-4" id="workDaysMonth" 
					    th:text="'出勤日数: ' + (${#lists.isEmpty(calculators) ? 0 : calculators[0].workDaysMonth})"></span>
						<button
							class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none
							hover:bg-indigo-600 rounded">従業員一覧</button>
				</div>
				<div class="lg:w-2/3 w-full mx-auto overflow-auto">
					<table class="table-auto w-full text-left whitespace-no-wrap" id="tableContainer">
					</table>
				</div>
			</div>
		</section>
	</main>
	<footer>
	</footer>
	<script th:src="@{/js/update-home-by-month.js}"></script>
</body>

</html>