<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="flex flex-col min-h-screen">
	<div th:insert="~{fragments/header :: header-template}"></div>
	<main class="flex-grow container mx-auto p-4">
		<section class="text-gray-600 body-font">
			<div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
				<div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
					<h1 class="title-font font-medium text-3xl text-gray-900">
						Simplify attendance management, boost productivity with our intuitive app.
					</h1>
					<p class="leading-relaxed mt-4">
						Real-time visibility into your team’s attendance supports flexible and modern workstyles,
						ensuring
						accurate, reliable workforce management.
					</p>
				</div>
				<form th:action="@{/signup}" method="post" th:object="${user}"
					class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
					<h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>

					<div class="relative mb-4">
						<label for="name" class="leading-7 text-sm text-gray-600">Name</label>
						<input type="text" id="name" name="name" th:field="*{name}" required
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
						<p class="text-red-500 text-sm" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					</div>
					<div class="relative mb-4">
						<label for="mail" class="leading-7 text-sm text-gray-600">Mail</label>
						<input type="email" id="mail" name="mail" th:field="*{mail}" required
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
						<p class="text-red-500 text-sm" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>
					</div>
					<div class="relative mb-4">
						<label for="password" class="leading-7 text-sm text-gray-600">Password</label>
						<input type="password" id="password" name="password" th:field="*{password}" required
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
						<p class="text-red-500 text-sm" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">
						</p>
					</div>
					<div class="relative mb-4">
						<label for="confirm-password" class="leading-7 text-sm text-gray-600">Confirm Password</label>
						<input type="password" id="confirm-password" name="confirmPassword"
							th:field="*{confirmPassword}" required
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
						<p class="text-red-500 text-sm" th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}"></p>
					</div>
					<div class="relative mb-4">
						<label for="department" class="leading-7 text-sm text-gray-600">Department</label>
						<select id="department" name="department" th:field="*{department.id}"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
							required>
							<option value="" th:selected="${user.department == null}">選択してください</option>
							<option th:each="department : ${departments}" th:value="${department.id}"
								th:text="${department.department_name}">
							</option>
						</select>
					</div>
					<button type="submit"
						class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign
						Up</button>
					<p th:if="${success}" class="text-green-500 text-sm mb-4" th:text="${success}"></p>
					<p class="text-sm text-gray-600 mt-4">
						Already have an account?
						<a th:href="@{/login}" class="text-indigo-500 hover:underline">Log in here</a>.
					</p>
				</form>
			</div>
		</section>
	</main>
	<div th:insert="~{fragments/footer :: footer-template}"></div>
	<!-- <script src="/js/passwd-verify.js"></script> -->
</body>

</html>